{include file="common/top" /}
<div class="swiper-container" id="indexBanner">
      <div class="swiper-wrapper">
        {cms:blocklist id="block" name="banner" orderby="weigh" orderway="desc" }   
        <div class="swiper-slide">
	        <div class="banner">
             	<div class="bannerTxt box"{switch name="$block.lr" }
                                                {case value="1"}style="text-align:left;"{/case}
                                                {case value="2"}style="text-align:center;"{/case}
                                                {case value="3"}style="text-align:right;"{/case}
                                           {/switch}>
             	    <div class="bannerTxtNr">
             	            <h2>{$block.title}</h2>
             	         	{$block.content}
             	         	{notempty name="$block.url"}<a href="{$block.url}">Consult now</a>{/notempty} 
             	    </div>
             	</div>
             	<img src="{$block.image}">
             	<i class="ico icon-zuo-copy"></i>
            </div>
	    </div>
	    {/cms:blocklist} 
	    
	   
	  </div>
 	{range name="$site.banner" value="1" type="in"}<div class="swiper-pagination"></div>{/range}
</div>


<script>
  var indexBanner = new Swiper('#indexBanner', {
  //effect: "fade",
  observer:true,
  observeParents:true,
  slidesPerColumnFill : 'column', //column row
  slidesPerView: 1, 
  spaceBetween: 0,
  slidesPerColumn: 1,//行
  slidesPerGroup: 1,//移动个数
  loop: true,
  pagination: {
  el: '#indexBanner .swiper-pagination',
  clickable: true,
  },
  navigation: {
  nextEl: '#indexBanner .swiper-button-next',
  prevEl: '#indexBanner .swiper-button-prev',
  },
  {range name="$site.banner" value="1" type="in"}
  autoplay: {
  delay: 3000, 
  disableOnInteraction: false,
  },
  {/range}
  breakpoints:{
  1600:{slidesPerView: 1,spaceBetween: 0, slidesPerColumn:1,},
  1279:{slidesPerView: 1,spaceBetween: 0,slidesPerColumn:1,},
  750:{slidesPerView: 1,spaceBetween: 0,slidesPerColumn:1,},
  },
  
 
});
 
</script>


<!--公司介绍-->
{cms:blocklist id="block" name="indexabout" orderby="weigh" orderway="desc" } 
<div class="indexAbout" id="about">
    <div class="indexA">
     <div class="indexAboutTxt box">
            {notempty name="$block.image"}<img src="{$block.image}">{/notempty}
         	<div class="BJQ" style="{empty name="$block.image"}width: 100%;{/empty}">
         	    <h2>{$block.title}</h2>
         	    {$block.content}
         	    {notempty name="$block.url"}<a href="{$block.url}">Learn more</a>{/notempty}
         	</div>
     </div>
    </div>


  {notempty name="$block.images"}
  <ul class="indexAUl box">
    {volist name="$block.images|explode=',',###" id="image"}
        <li>
            <em><i class="ico {$image|cdnurl}"></i></em>
            <div>
                 <h3>{$block.intro[$key]['info']}</h3>
                 <p>{$block.intro[$key]['txt']}</p>
            </div>
        </li>
      {/volist}
    </ul>
    {/notempty}
    
    
 </div> 
{/cms:blocklist} 



<!--隔断-->
{cms:blocklist id="block" name="homegd" orderby="weigh" orderway="desc" } 
 <div class="indexF" {notempty name="$block.image"}style="background-image: url({$block.image});"{/notempty}>
     	<div class="box indexFHead">
     	    <div class="BJQ" style="{empty name="$block.url"}width: 100%;{/empty}">
     	        	{$block.content}
     	    </div>
            {notempty name="$block.url"}<a class="indexFa" href="{$block.url}">{$block.title}</a>{/notempty} 
     	</div>
      {notempty name="$block.images"}
      <ul class="box indexFul">
        {volist name="$block.images|explode=',',###" id="image"}
            <li>
                <em><i class="ico {$image|cdnurl}"></i></em>
                <div>
                     <h3>{$block.intro[$key]['info']}</h3>
                     <p>{$block.intro[$key]['txt']}</p>
                </div>
            </li> 
          {/volist}
        </ul>
        {/notempty}
 </div>
{/cms:blocklist} 


 


<!--首页服务 -->
{range name="$site.indexfw" value="1" type="in"}   
<div class="indexCp">
    <div class="box">
    <div class="indexCpTitle">
         <h2>Services</h2>
    </div>
    <ol class="indexCpOl">
        {cms:arclist id="item" flag="index" model="7"  row="8" orderby="weigh" } 
        <li>
            <a href="{$item.url}">
              <div class="imghover"><img src="{$item.image}"></div>
              <div class="indexCpdefaultTxt">
                  <h3>{$item.title}</h3>
                  {notempty name="$item.description"}<p>{$item.description}</p>{/notempty} 
                  <em>Read More</em>
              </div>    
            </a>
        </li>
        {/cms:arclist}
       </ol>
    
   </div>
</div> 
{/range}



<!--产品类目-->
{range name="$site.indexfl" value="1" type="in"}
<div class="ProductClassificationBJ">
    <div class="ProductClassification box">
       <h2>Product Category</h2>
      <ul>
           {cms:channellist id="channel" type="son" typeid="44" condition="1=cpindex"}
           <li><a href="{$channel.url}"><div class="imghover"><img src="{$channel.lmimg}"></div><h3>{$channel.name}</h3></a></li>
           {/cms:channellist}
       </ul>
  </div>
</div>
{/range}



<!--首页项目-->
{range name="$site.indexxm" value="1" type="in"}
<div class="indexProjectBJ">
    <div class="indexProject box">
       <h2>Project</h2>

      <ul>
           {cms:arclist id="item" flag="index" model="10"  row="10" orderby="updatetime"  }
           <li><a href="{$item.url}"><div class="imghover"><img src="{$item.image}"></div><h3>{$item.title}</h3></a></li>
           {/cms:arclist}
       </ul>
  </div>
</div>
{/range}
    
    
    
<!--产品-->    
{range name="$site.indexcp" value="1" type="in"}     
<div class="IndexProduct">
    <div class="IndexProductNr">
       {cms:channellist id="channel" type="son" typeid="44" condition="1=cpindex"}
       <dl class="box">
            <dt> <em>{$channel.name}</em>  <a href="{$channel.url}">More</a></dt>
            <dd>
                <ul>
                    
                    {cms:arclist id="item"  row="4" orderby="updatetime" channel="channel['id']"}
                    <li>
                        <a href="{$item.url}">
                          <div class="imghover"><img src="{$item.image}"></div>
                          <div class="IndexProductTxt">
                              <h3>{$item.title}</h3>
                              {notempty name="$item.price"}<span>{$item.price}</span>{/notempty} 
                            
                          </div>    
                        </a>
                    </li>
                    {/cms:arclist}
                </ul>
            </dd>
        </dl>
        {/cms:channellist}
        
    </div>
</div>
{/range}   
 
 
 
<!--房地产-->    
{range name="$site.indexfdc" value="1" type="in"}    
<div class="indexFdc">
    <div class="box">   
    <div class="indexFdcTitle">
         <h3>Find your dream property</h3> <a href="/Buy.html">More +</a>
    </div>
        <ul>
            
            {cms:arclist id="item" flag="index" model="8"  row="6" orderby="updatetime" addon="true"} 
            	<li>
            		<a href="{$item.url}"  title="{$item.title}">
            		<div class="imghover"><img src="{$item.image}"></div>
            		
            		<div class="FdcLitstxt">
            			<h3>{$item.title}</h3>
            			 {notempty name="$item.add"}<h4>{$item.add}</h4>{/notempty}
            			 {notempty name="$item.price"}<span>{$item.price}</span>{/notempty}
            	        <h5>
            	            <i class="ico icon-chuang1"></i><em>{$item.woshi}</em>
            	            <i class="ico icon-bathroom"></i><em>{$item.yushi}</em>
            	            <i class="ico icon-wode-wodecheku"></i><em>{$item.chewei}</em>
            	        </h5>
                    </div>
            		</a>
            	</li>
            {/cms:arclist}
            
        </ul>
    </div> 
</div>
{/range} 	
 


   

{include file="common/foot" /}