<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{$site.name|htmlentities}</title>
    <link rel="shortcut icon" href="__CDN__/assets/img/favicon.ico" />
    <!-- Bootstrap Core CSS -->
    <link href="__CDN__/assets/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="__CDN__/assets/css/index-test.css" rel="stylesheet">
    <link rel="stylesheet" href="__CDN__/assets/css/pages/common.css">
    <link rel="stylesheet" href="__CDN__/assets/css/frontend.min.css">
    <link rel="stylesheet" href="__CDN__/assets/css/pages/home.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page-top" class="home-wrap">
<div class="home-header">
    <nav class="navbar">
        <div class="container-fluid container-flex">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="logo-wrap d-flex">
                    <img src="__CDN__/assets/img/png/logo.png" alt="logo">
                    <div class="pl-2">
                        <span class="d-block font-bold f20">湖南千智机器人科技发展有限公司</span>
                        <span class="d-block f12">HUNAN QIANZHI ROBOT TECHNOLOGY DEVELOPMENT CO,. LTD</span>
                    </div>
                </div>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                    <li class="px-4">
                        <form class="navbar-form navbar-left" id="js-search-from">
                            <div class="form-group">
                                <input type="text" class="form-control search-input" id="js-search-input"
                                       placeholder="Search" />
                            </div>
                            <span class="glyphicon glyphicon-search media-middle cursor-pointer" id="js-search-btn"
                                  aria-label="search button" aria-hidden="true">
                                </span>
                        </form>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                            English
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">China</a></li>
                            <li><a href="#">English</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav pull-right menu-list">
                    {cms:channellist id="nav" type="top" cache="0" condition="1=isnav" row="20"}
                    <li>
                        <a class="{if $nav->is_active}active{/if}" {if $nav.href eq 0}href="{$nav.url}"{/if}  {if $nav.target eq 1}target="_blank"{/if}>{$nav.name}</a>
                    </li>
                    {/cms:channellist}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="home-header-detail text-center">
        <span class="d-block top-title f18">BEST QUALITY SERVICE</span>
        <span class="d-block title f50 font-bold">QIANZHI ROBOT</span>
        <span class="d-block sub-title f28">Towards the goal of building a R&D heights of special robots in
                china</span>
        <div class="but-group">
            <a type="button" href="/" class="btn btn-info btn-lg mr-4">
                Learn More
            </a>
            <a type="button" href="/" class="btn btn-danger btn-lg">
                Contact Us
            </a>
        </div>
    </div>
</div>


<main id="home-body">
    <!-- out product -->
    <div class="home-body-card our-product">
        <div class="container card-item">
            <div class="text-center">
                <span class="top-title">Our Products</span>
                <span class="title">BEST OF OUR WORKS</span>
            </div>
            <div class="row" id="ourProduct">
                <script id="ourProductTemplate" type="text/html">
                    {cms:arclist id="item"  row="9" orderby="updatetime" channel="44"}
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail content-item">
                                <div class="card-img-wrap">
                                    <div class="card-img-wrap-bg"  style="background-image: url({$item.image});">
                                    </div>
                                    <img src="{$item.images}" alt="{$item.title}">
                                </div>
                                <div class="caption">
                                    <p class="font-bold f20 mt-4">{$item.title}</p>
                                    <p class="caption-content multiple-text-ellipsis">{$item.description}</p>
                                    <a href="#" class="product-learn-more">
                                        Learn More
                                        <span class="glyphicon glyphicon-arrow-right"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {/cms:arclist}
                </script>
            </div>
        </div>
    </div>

    <!-- about us -->
    <div class="home-body-card about-us">
        <div class="container card-item">
            <div class="text-center">
                <span class="top-title">About Us</span>
                {cms:blocklist id="block" name="aboutsTop" orderby="weigh" orderway="desc" }
                    <span class="title f28 mb-4">{$block.title}</span>
                    <span class="sub-title">{$block.content}</span>
                {/cms:blocklist}
            </div>
            <div id="aboutUs">
                <script id="aboutUsTemplate" type="text/html">
<!--                    <div class="row">-->
<!--                        {{each aboutUs.items as item index}}-->
<!--                        <div class="text-center col-md-{{setCol(index)}} mt-4">-->
<!--                            <span class="about-item-title f20 font-bold">{{ item.title }}</span>-->
<!--                            <p class="about-item-sub-title f14">{{ item.content }}</p>-->
<!--                        </div>-->
<!--                        {{/each}}-->
<!--                    </div>-->
                    <div class="row">
                        {cms:blocklist id="block" name="aboutsTop" orderby="weigh" orderway="desc" }
                        {notempty name="$block.images"}
                        {volist name="$block.images|explode=',',###" id="image"}
                        <div class="text-center col-md-{{setCol({$key})}} mt-4">
                            <span class="about-item-title f20 font-bold">{$block.intro[$key]['info']}</span>
                            <p class="about-item-sub-title f14">{$block.intro[$key]['txt']}</p>
                        </div>
                        {/volist}
                        {/notempty}
                        {/cms:blocklist}
                    </div>
                    <div class="row d-flex about-us-content">
                        <div class="col-md-8 about-us-list">
                            <div id="about-us-carousel" class="carousel slide" data-ride="carousel">
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
<!--                                    {{each aboutUs.banners as item index}}-->
<!--                                    <div class="item {{setDefaultActive(index)}}">-->
<!--                                        <img src="{{item.imgUrl}}" alt="about us">-->
<!--                                        <div class="carousel-caption">-->
<!--                                            <span class="f30">{{item.title}}</span>-->
<!--                                            <span>{{item.content}}</span>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    {{/each}}-->
                                    {cms:blocklist id="block" name="aboutsFoot" orderby="weigh" orderway="desc" }
                                    {notempty name="$block.images"}
                                    {volist name="$block.images|explode=',',###" id="image"}
                                        <div class="item {{setDefaultActive({$key})}}">
                                            <img src="{$image}" alt="about us">
                                            <div class="carousel-caption">
                                                <span class="f30">{$block.intro[$key]['info']}</span>
                                                <span>{$block.intro[$key]['txt']}</span>
                                            </div>
                                        </div>
                                    {/volist}
                                    {/notempty}
                                    {/cms:blocklist}
                                </div>

                                <!-- Controls -->
                                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 about-us-list right d-flex">
<!--                            {{each aboutUs.list as item index}}-->
<!--                            <div>-->
<!--                                <img src="{{item.imgUrl}}" alt="{{item.title}}">-->
<!--                                <span class="font-bold">{{item.title}}</span>-->
<!--                            </div>-->
<!--                            {{/each}}-->
                            {cms:blocklist id="block" name="aboutsMid" orderby="weigh" orderway="desc" }
                                <div>
                                    <img src="{$block.image}" alt="{$block.title}">
                                    <span class="font-bold">{$block.title}</span>
                                </div>
                            {/cms:blocklist}
                        </div>
                    </div>
                </script>
            </div>
        </div>
    </div>

    <!-- strategic partners -->
    <div class="home-body-card strategic-partners">
        <div class="container">
            {cms:blocklist id="block" name="hezuo" orderby="weigh" orderway="desc" }
            <div class="text-center">
                <span class="title font-bold">{$block.title}</span>
                <hr />
            </div>
            <div class="row" id="strategicPartners">
                <script id="strategicPartnersTemplate" type="text/html">
                        {notempty name="$block.images"}
                        {volist name="$block.images|explode=',',###" id="image"}
                        <div class="item col-sm-4 col-md-3">
                            <div href="#" class="thumbnail p-0">
                                <img src="{$image}" alt="partners">
                            </div>
                        </div>
                        {/volist}
                        {/notempty}
                </script>
            </div>
            {/cms:blocklist}
        </div>
    </div>

    <!-- news center -->
    <div class="home-body-card news-center">
        <div class="container card-item">
            <div class="text-center">
                <span class="top-title">News Center</span>
                <span class="title">Lastest News</span>
            </div>
            <div class="row" id="newsCenter">
                <script id="newsCenterTemplate" type="text/html">
<!--                    {{each news as item index}}-->
<!--                    <div class="item col-sm-6 col-md-4">-->
<!--                        <div class="thumbnail content-item news-content-item">-->
<!--                            <div class="card-img-wrap">-->
<!--                                <img src="{{item.imgUrl}}" alt="{{item.title}}">-->
<!--                            </div>-->
<!--                            <div class="caption">-->
<!--                                <p class="font-bold f14 mt-2 text-ellipsis">{{ item.title }}</p>-->
<!--                                <p class="caption-content multiple-text-ellipsis mt-2">{{ item.content }}</p>-->
<!--                                <p class="news-date text-right f12">-->
<!--                                    <span class="d-iblock">{{item.date}}</span>-->
<!--                                </p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    {{/each}}-->

                    {cms:arclist id="item" flag="index" model="10"  row="10" orderby="updatetime" addon="content"}
                    <div class="item col-sm-6 col-md-4">
                        <div class="thumbnail content-item news-content-item">
                            <div class="card-img-wrap">
                                <img src="{$item.image}" alt="{$item.title}">
                            </div>
                            <div class="caption">
                                <p class="font-bold f14 mt-2 text-ellipsis">{$item.title}</p>
                                <p class="caption-content multiple-text-ellipsis mt-2">{$item.content}</p>
                                <p class="news-date text-right f12">
                                    <span class="d-iblock">{:date('Y-m-d', $item.publishtime)}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    {/cms:arclist}

                </script>
            </div>
        </div>
    </div>
</main>

<footer>
    <div class="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 f28">
                    YOUR ARE WELCOME TO CONTACT US
                </div>
                <div class="col-md-4 text-right">
                    <button class="btn">CONTACT US</button>
                </div>
            </div>
        </div>
    </div>
    <div class="page-footer">
        <div class="footer-info">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <span class="title">Contact Information</span>
                        {cms:blocklist id="block" name="contact-qianzhi" orderby="id" orderway="asc"}
                            <p>{:str_replace(["<p>","</p>"], "", $block.content)}</p>
                        {/cms:blocklist}
                    </div>
                    <div class="col-md-3">
                        <span class="title">Product</span>
                        {cms:channellist id="channel" type="son" typeid="44" condition="1=cpindex" orderby="weigh" orderway="asc"}
                        <p>{$channel.name}</p>
                        {/cms:channellist}
                    </div>
                    <div class="col-md-3">
                        <span class="title">Recent post</span>
                        {cms:arclist id="item" flag="index" model="10"  row="10" orderby="updatetime" addon="content"}
<!--                                <div class="card-img-wrap">-->
<!--                                    <img src="{$item.image}" alt="{$item.title}">-->
<!--                                </div>-->
                                    <p>{$item.title}
                                        <span>{:date('Y-m-d', $item.publishtime)}</span>
                                    </p>
                        {/cms:arclist}
                    </div>
                    <div class="col-md-3">
                        <span class="title">contact Form</span>
                        <p>123</p>
                        <p>123</p>
                        <p>123</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="">
                    Copyright: Huan Qianzhi Robot Technology Development Co,. Ltd
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="__CDN__/assets/libs/jquery/dist/jquery.min.js"></script>

<script src="__CDN__/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>

<script data-main="__CDN__/assets/js/frontend/home.js" src="__CDN__/assets/js/require.min.js"></script>

</body>

</html>