<!DOCTYPE html>
<html>

<head>
    {include file="common/meta" /}
    <link rel="stylesheet" href="__CDN__/assets/qianzhi/frontend/aboutUs/swiper-bundle.min.css">
    <link rel="stylesheet" href="__CDN__/assets/qianzhi/frontend/home/home.css">
</head>

<body class="home-wrap">
    {include file="common/header" /}
    <div id="header-banner" class="home-header">
        <div class="swiper" style="height: 100%;">
            <div class="swiper-wrapper">

                {cms:blocklist id="block" name="banner" orderby="weigh" orderway="desc" }
                    <div class="swiper-slide" style="background: url({$block.image});"></div>
                {/cms:blocklist}
            </div>

            <div class="home-header-detail text-center">
                <span class="d-block top-title f18">BEST QUALITY SERVICE</span>
                <span class="d-block title f50 font-bold">QIANZHI ROBOT</span>
                <span class="d-block sub-title f28">Towards the goal of building a R&D heights of special robots in
                    china</span>
                <div class="but-group">
                    <a type="button" href="/ABOUTUS.html" class="btn btn-info btn-lg mr-4">
                        Learn More
                    </a>
                    <a type="button" href="/CONTACTUS.html" class="btn btn-danger btn-lg">
                        Contact Us
                    </a>
                </div>
            </div>

            <!-- <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div> -->

            <div class="swiper-pagination"></div>
        </div>
    </div>


    <main id="home-body">
        <!-- out product -->
        <div class="home-body-card our-product">
            <div class="container card-item">
                <div class="text-center">
                    <span class="top-title">Our Products</span>
                    <span class="title">BEST OF OUR WORKS</span>
                </div>
                <div class="row" id="ourProduct">
                    <script id="ourProductTemplate" type="text/html">
                    {cms:channellist id="channel" type="son" typeid="44" condition="1=cpindex"}
                    {cms:arclist id="item" flag="index" row="9" orderby="updatetime" channel="channel['id']", addon="content,bgimage"}
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail content-item">
                            <div class="card-img-wrap">
                                <div class="card-img-wrap-bg"  style="background-image: url({$item.bgimage});">
                                </div>
                                <img src="{$item.image}" alt="{$item.title}">
                            </div>
                            <div class="caption">
                                <p class="font-bold f20">{$item.title}</p>
<!--                                <p class="caption-content multiple-text-ellipsis">{:str_replace(["<p>","</p>"], "", $item.content)}</p>-->
                                <p class="caption-content multiple-text-ellipsis">{$item.description}</p>
                                <a href="{$item.url}" class="product-learn-more">
                                    Learn More
                                    <span class="glyphicon glyphicon-arrow-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    {/cms:arclist}
                    {/cms:channellist}
                </script>
                </div>
            </div>
        </div>

        <!-- about us -->
        <div class="home-body-card about-us">
            <div class="container card-item">
                <div class="text-center">
                    <span class="top-title">About Us</span>
                    {cms:blocklist id="block" name="aboutsTop" orderby="weigh" orderway="desc" }
                    <span class="title f28 mb-4">{$block.title}</span>
                    <span class="sub-title">{:str_replace(["<p>","</p>"], "", $block.content)}</span>
                    {/cms:blocklist}
                </div>
                <div id="aboutUs">
                    <script id="aboutUsTemplate" type="text/html">
                    <div class="row">
                        {cms:blocklist id="block" name="aboutsTop" orderby="weigh" orderway="desc" }
                        {notempty name="$block.images"}
                        {volist name="$block.images|explode=',',###" id="image"}
                        <div class="text-center col-md-{{setCol({$key})}} mt-4">
                            <span class="about-item-title f20 font-bold">{$block.intro[$key]['info']}</span>
                            <p class="about-item-sub-title f14">{$block.intro[$key]['txt']}</p>
                        </div>
                        {/volist}
                        {/notempty}
                        {/cms:blocklist}
                    </div>
                    <div class="row about-us-content">
                        <div class="col-md-12 about-us-list right">
                            <div class="row">
                                {cms:blocklist id="block" name="aboutsMid" orderby="weigh" orderway="desc" }
                                <div class="col-md-6 mb-4">
                                    <img src="{$block.image}" alt="{$block.title}">
                                    <span class="font-bold">{$block.title}</span>
                                </div>
                                {/cms:blocklist}
                            </div>
                        </div>
                        <div class="col-md-12 about-us-list">
                            <div id="about-us-carousel" class="carousel slide" data-ride="carousel">
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    {cms:blocklist id="block" name="aboutsFoot" orderby="weigh" orderway="desc" }
                                    {notempty name="$block.images"}
                                    {volist name="$block.images|explode=',',###" id="image"}
                                    <div class="item {{setDefaultActive({$key})}}">
                                        <img src="{$image}" alt="about us">
                                        <div class="carousel-caption">
                                            <span class="f30">{$block.intro[$key]['info']}</span>
                                            <span>{$block.intro[$key]['txt']}</span>
                                        </div>
                                    </div>
                                    {/volist}
                                    {/notempty}
                                    {/cms:blocklist}
                                </div>

                                <!-- Controls -->
                                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </script>
                </div>
            </div>
        </div>

        <!-- strategic partners -->
        <div class="home-body-card strategic-partners">
            <div class="container">
                {cms:blocklist id="block" name="hezuo" orderby="weigh" orderway="desc" }
                <div class="text-center">
                    <span class="title font-bold">{$block.title}</span>
                    <hr />
                </div>
                <div class="row" id="strategicPartners">
                    <script id="strategicPartnersTemplate" type="text/html">
                    {notempty name="$block.images"}
                    {volist name="$block.images|explode=',',###" id="image"}
                    <div class="item col-sm-4 col-md-3">
                        <div href="#" class="thumbnail p-0">
                            <img src="{$image}" alt="partners">
                        </div>
                    </div>
                    {/volist}
                    {/notempty}
                </script>
                </div>
                {/cms:blocklist}
            </div>
        </div>

        <!-- news center -->
        <div class="home-body-card news-center">
            <div class="container card-item">
                <div class="text-center">
                    <span class="top-title">News Center</span>
                    <span class="title">Lastest News</span>
                </div>
                <div class="row" id="newsCenter">
                    <script id="newsCenterTemplate" type="text/html">
                    {cms:arclist id="item" flag="index" model="10"  row="3" orderby="updatetime" addon="content"}
                    <div class="item col-sm-6 col-md-4">
                        <div class="thumbnail content-item news-content-item">
                            <div class="card-img-wrap">
                                <img src="{$item.image}" alt="{$item.title}">
                            </div>
                            <div class="caption">
                                <p class="font-bold f14 mt-2 text-ellipsis">{$item.title}</p>
                                <p class="caption-content multiple-text-ellipsis mt-2">{:str_replace(["<p>","</p>"], "", $item.content)}</p>
                                <p class="news-date text-right f12">
                                    <span class="d-iblock">{:date('Y-m-d', $item.updatetime)}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    {/cms:arclist}
                </script>
                </div>
            </div>
        </div>
    </main>

    {include file="common/footer" /}
    {include file="common/script" /}

    <script src="__CDN__/assets/qianzhi/frontend/aboutUs/swiper-bundle.min.js"></script>
    <script data-main="__CDN__/assets/qianzhi/frontend/home/home.js" src="__CDN__/assets/qianzhi/require.min.js">
    </script>

</body>

</html>