<!DOCTYPE html>
<html>

<head>
	{include file="common/meta" /}
	<link rel="stylesheet" type="text/css" href="https://at.alicdn.com/t/font_601403_l9mrrofm0m.css">
	<link rel="stylesheet" ype="text/css" href="__CDN__/template/default1/css/common.css?v={$site.version}">
	<link rel="stylesheet" href="__CDN__/assets/qianzhi/frontend/news/list/list.css">
</head>

<body class="product-wrap news-wrap">
{include file="common/header" /}
{include file="common/mbx" /}

<main id="news-list-body">
	<div class="container card-item">
		<div id="newsList">
			<script id="newsListTemplate" type="text/html">
				{cms:pagelist id="item"}
				<div class="content-item row d-flex">
					<div class="col-md-4 card-img-wrap pl-0" >
						<a href="{$item.url}"><img src="{$item.image}" alt="{$item.title}"></a>
					</div>
					<div class="col-md-8 col-sm-6 news-info-wrap pr-0 clearfix">
						<div class="row">
							<div class="col-md-8 family-jost-bold f20 title">{$item.title}</div>
							<div class="date col-md-4 text-right">
								<img class="icon mr-1" src="__CDN__/assets/qianzhi/frontend/news/icon-date.png" alt="Date">
								<span class="f14">{:date('Y-m-d', $item.updatetime)}</span>
							</div>
							<p class="col-md-12 info-content">{:str_replace(["<p>","</p>"], "", $item.content)}</p>
							<a href="{$item.url}"><button class="btn btn-primary view-more">view more</button></a>
						</div>
					</div>
				</div>
				{/cms:pagelist}
			</script>
		</div>
		<nav aria-label="Product list pagination" class="text-center nav-pagination">
			{cms:pageinfo type="full" /}
		</nav>
	</div>
</main>

{include file="common/footer" /}
{include file="common/script" /}

<script
		data-main="__CDN__/assets/qianzhi/frontend/news/list/list.js"
		src="__CDN__/assets/qianzhi/require.min.js"
>
</script>

</body>

</html>