{include file="common/top" /}
{include file="common/mbx" /} 
 
<div class="ServicesShow box">
    <div class="ServicesShowLeft">
    <div class="ServicesShowImg"><img src="{cms:archives name="image" /}"> </div>
    <div class="ServicesShowTxt">
          <h1>{cms:archives name="title" /}</h1>
          <div class="BJQ">
              {cms:archives name="content" /}
          </div>
           {notempty name="$__ARCHIVES__.images"}
          <ul class="ServicesShowImglist">
          {volist name="$__ARCHIVES__.images|explode=',',###" id="image"}
            	<li data-src="{$image|cdnurl}"><img src="{$image|cdnurl}"></li>   
          {/volist}
          </ul>
         {/notempty} 
         
    </div>
    
    <!--参数开始-->
    <div class="ServicesParameter">
        {cms:paramelist name="$title" id="vo" orderby="weigh" cache="0" orderway="asc"}
        {switch name="$vo.text_type"}
        
         
        {case value="1"} 
            {empty name="$vo.file"}
              <div class="BJQ ServicesContent">{$vo.content}</div>
            {else /}
              <div class="ServicesParameterList">
                <div class="ServicesParameterImg"><img src="{$vo.file}"></div>
                <div class="BJQ">
                     <h2>{$vo.title}</h2>
                    {notempty name="$vo.content"}{$vo.content}{/notempty}
                </div>
            </div> 
            {/empty}
        {/case}
        
        
        
        
        {case value="2"} 
             <ul class="ServicesParameterUl">
             {volist name="$vo.images|explode=',',###" id="img" key="k"}
                <li data-src="{$img|cdnurl}"><img src="{$img|cdnurl}" alt="{$vo.intro[$key]['info']}">
                <h3>{$vo.intro[$key]['info']}</h3>
                <p>{$vo.intro[$key]['txt']}</p>
               </li>
             {/volist}
             </ul>
        {/case}
        
        {/switch} 
        {/cms:paramelist}
    </div>
    </div>
    
    
     <div class="ServicesShowForm">
        <h2>Contact form</h2>
        <h3>Your email address will not be published. Required fields are marked *</h3>
        <form onsubmit="return $('.formPoint').show();" method="POST" action="/d/customer/post.html">
            <input type="hidden" name="__diyname__" value="customer">
            {:token()}
            <div>
            <input name="row[name]" type="text" placeholder="*Name :" required=""></input>
            <input name="row[email]" type="Email" placeholder="*Email :" required=""></input>
            <input name="row[telephone]" type="telephone" placeholder="Telephone :"></input>
            <textarea name="row[content]" type="text" placeholder="*Message:" required=""></textarea>
            <button type="submit">SEND</button>
            </div>
       </form>
       
       <div class="otherService">
            <h2>other service</h2>
            <ul>
                
             {cms:arclist id="item" row="4"  channel="__CHANNEL__.id" orderby="rand" orderway="desc" cache="0" condition="`id` != $__ARCHIVES__->id" }  
            <li>
             <a href="{$item.url}" title="{$item.title}">
                 <div class="imghover"><img src="{$item.image}"></div>
                 <h3>{$item.title}</h3>
             </a>
             
             </li>
             {/cms:arclist} 
             </ul>
        </div> 
    </div>
    

</div>


 
            
 

 


{include file="common/foot" /}


 
	