<!DOCTYPE html>
<html>

<head>
    {include file="common/meta" /}
    <link rel="stylesheet" href="__CDN__/assets/qianzhi/frontend/news/detail/detail.css">
</head>

<body class="product-wrap news-wrap">
{include file="common/header" /}
{include file="common/mbx" /}


<main id="news-detail-body">
    <div class="container">
        <div class="title f30 text-center family-jost-bold">{cms:archives name="title" /}</div>
        <div class="date text-center mb-4">
            <img class="icon mr-1" src="__CDN__/assets/qianzhi/frontend/news/icon-date.png" alt="Date">
            <span style="font-style: italic; color: #999">{cms:archives name="createtime|date='Y-m-d',###" /}</span>
        </div>
        <div class="family-openSans" style="color: #666;">{cms:archives name="content" /}</div>
        

        <div class="row part-of-img">
        {notempty name="$__ARCHIVES__.images"}
            {volist name="$__ARCHIVES__.images|explode=',',###" id="image"}
                <div class="col-md-4">
                    <div class="img-wrap">
                        <img src="{$image|cdnurl}" alt="news">
                    </div>
                </div>
            {/volist}
        {/notempty}
        </div>

        <div class="pagination-button clearfix">
            {cms:prevnext id="prev" type="prev" archives="$__ARCHIVES__.id" channel="$__CHANNEL__.id"}
            <div class="col-md-6">
                <div class="d-iblock cursor-pointer">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                    <span class="summery"><a href="{$prev.url}">PREV: {$prev.title}</a></span>
                </div>
            </div>
            {/cms:prevnext}
            {cms:prevnext id="next" type="next" archives="$__ARCHIVES__.id" channel="$__CHANNEL__.id"}
            <div class="col-md-6 text-right">
                <div class="d-iblock cursor-pointer">
                    <span class="summery"><a href="{$next.url}">NEXT: {$next.title}</a></span>
                </div>
            </div>
            {/cms:prevnext}
        </div>

    </div>

</main>

{include file="common/footer" /}
{include file="common/script" /}

<script data-main="__CDN__/assets/qianzhi/frontend/news/detail/detail.js" src="__CDN__/assets/qianzhi/require.min.js">
</script>

</body>

</html>