{include file="common/top" /}
   
    	    <div class="swiper-container" id="FdcShow">
                  <div class="swiper-wrapper">
                {volist name="$__ARCHIVES__.images|explode=',',###" id="image"}
            	    <div class="swiper-slide"> <img src="{$image|cdnurl}"></div>
            	   {/volist}
            	  </div>
             	<div class="swiper-pagination pchide"></div> 
                <div class="swiper-button-prev"><i class="ico icon-icon--"></i></div>
               	<div class="swiper-button-next"><i class="ico icon-icon---copy"></i></div>
            </div>


<div class="FdcShowBJ">
<div class="FdcShow box">

    	   
    	  
    	    
    	     
              <div class="peizhi">
                  <strong>{cms:archives name="add" /}</strong>
                  <ul>
                      {notempty name="$__ARCHIVES__.price"}<li><i class="ico icon-shouye"></i><em>{cms:archives name="price" /}</em></li>{/notempty} 
                      {notempty name="$__ARCHIVES__.woshi"}<li><i class="ico icon-chuang2"></i><em>{cms:archives name="woshi" /}</em></li>{/notempty} 
                      {notempty name="$__ARCHIVES__.yushi"}<li><i class="ico icon-bathroom-fill"></i> <em>{cms:archives name="yushi" /}</em></li>{/notempty} 
                      {notempty name="$__ARCHIVES__.chewei"}<li><i class="ico icon-chuzu"></i><em>{cms:archives name="chewei" /}</em></li>{/notempty} 
                     
                  </ul>
                 
                </div>
           
               
              
             
		   
				
				<div class="BJQ FdcShowTitle">
				    <h1>{cms:archives name="title" /}</h1>
				    {cms:archives name="content" /}
				   
				</div>
 


</div>
</div> 
 

 


{include file="common/foot" /}


 
	