<link rel="stylesheet" href="__CDN__/assets/qianzhi/frontend/common/header/header.css">

<nav id="page-navbar" class="navbar navbar-default family-sourceSansPro">
    <div class="container-fluid container-flex">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="logo-wrap d-flex">
                <a href="/HOME.html"><img src="{$site.logo}" alt="logo"></a>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


            <ul class="nav navbar-nav menu-list">
                {cms:channellist id="nav" type="top" cache="0" condition="1=isnav" row="20"}
                <li class="{if $nav.name eq 'PRODUCT'}dropdown{/if}">
                    <a class="{if $nav->is_active}active{/if}" {if $nav.href eq 0}href="{$nav.url}" {/if} {if
                        $nav.target eq 1}target="_blank" {/if}>{$nav.name}</a>
<!--                    {if $nav.name eq 'PRODUCT'}-->
<!--                    <ul class="dropdown-menu" style="min-width: 100px;">-->
<!--                        <li><a href="#">product1</a></li>-->
<!--                        <li><a href="#">product2</a></li>-->
<!--                    </ul>-->
<!--                    {/if}-->

                    {if $nav.has_child}
                        <ul class="dropdown-menu" style="min-width: 100px;">
                            {cms:channellist id="son" type="son" condition="1=isnav" typeid="nav['id']" cache="0" row="20"}

                            <li><a class="{if $son->is_active}this{/if}"  href="{$son.url}">{$son.name}</a>
                                {if $son.has_child}
                                <ul class="dropdown-menu", style="min-width: 100px;">
                                    {cms:channellist id="sons" condition="1=isnav" type="son" typeid="son['id']" cache="0" }
                                    <li><a class="{if $sons->is_active}this{/if}"  href="{$sons.url}">{$sons.name}</a></li>
                                    {/cms:channellist}
                                </ul>
                                {/if}
                            </li>

                            {/cms:channellist}
                        </ul>
                    {/if}
                </li>
                {/cms:channellist}

<!--                    {if $nav.has_child}-->
<!--                    <ul>-->
<!--                        {cms:channellist id="son" type="son" condition="1=isnav" typeid="nav['id']" cache="0" row="20"}-->

<!--                        <li><a class="{if $son->is_active}this{/if}"  href="{$son.url}">{$son.name}</a>-->
<!--                            {if $son.has_child}-->
<!--                            <ul>-->
<!--                                {cms:channellist id="sons" condition="1=isnav" type="son" typeid="son['id']" cache="0" }-->
<!--                                <li><a class="{if $sons->is_active}this{/if}"  href="{$sons.url}">{$sons.name}</a></li>-->
<!--                                {/cms:channellist}-->
<!--                            </ul>-->
<!--                            {/if}-->
<!--                        </li>-->

<!--                        {/cms:channellist}-->
<!--                    </ul>-->
<!--                    {/if}-->
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="px-4">
                    {range name="site.sousuo" value="1" type="in"}
                    <form class="navbar-form navbar-left" id="js-search-from" action="/s.html" method="post">
                        <div class="form-wrap d-flex">
                            <div class="form-group">
                                <input type="text" class="form-control search-input" name="q" value=""  id="js-search-input"
                                    autocomplete="off" data-suggestion-url="/addons/cms/search/suggestion.html"
                                    placeholder="Key words" />
                            </div>
                            <button class="glyphicon glyphicon-search media-middle cursor-pointer search-button"
                                id="js-search-btn" aria-label="search button" aria-hidden="true">
                            </button>
                        </div>
                    </form>
                    {/range}
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">
                        <span class="glyphicon glyphicon-globe mr-1" aria-hidden="true"></span>
                        English
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" style="min-width: 100px;">
                        <li><a href="#">China</a></li>
                        <li><a href="#">English</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<script>
    (function () {
        setTimeout(() => {
            var $banner = document.querySelector('#header-banner')
            var $navbar = document.querySelector('#page-navbar')
            var height = $banner.clientHeight
            var timeStamp = 0
            updateBackgroundColor()

            window.onscroll = function (e) {
                if (e.timeStamp - timeStamp >= 200) {
                    timeStamp = e.timeStamp
                    updateBackgroundColor()
                }
            }

            function updateBackgroundColor () {
                var isOver = document.documentElement.scrollTop > height
                $navbar.classList[isOver ? 'add' : 'remove']('is-over')
            }
        }, 2000)

    })()
</script>